.section-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $text-color-main;
  &_theme_dark {
    color: $text-color-dark;
    opacity: 0.7;
  }
  @media screen and (max-width: $screen-mobile) {
    font-size: 12px;
    line-height: 18px;
  }
}
