$screen-dekstop: 1440px;
$screen-tablet: 1439px;
$screen-mobile: 767px;
$main-theme:#F4F4F4;
$dark-theme:#333333;
$bg-footer: #EFEFEF;
$font-family: 'Inter', Arial, sans-serif;
$title-color-main: #151515;
$title-color-dark: #fff;
$text-color-main: #222222;
$text-color-dark: #E6E6E6;;
$button-bgcolor: #24B47E;
$custom-cursor: url("../../images/cursor-medium.png"), pointer;