.benefits {
  padding: 20px 0 0 120px;
  display: grid;
  align-items: start;
  grid-template-columns: minmax(350px, 460px) 1fr minmax(400px, 610px);
  grid-template-rows: repeat(3, auto) minmax(50px, 1fr);
  position: relative;
  row-gap: 50px;

  @media screen and (max-width: $screen-tablet) {
    padding: 1vw 0 0 5vw;
    row-gap: 4vw;
  }
  @media screen and (max-width: $screen-mobile) {
    padding: 114px 18px 38px;
    grid-template-columns: 1fr;
    row-gap: 38px;
  }
  &__title {
    grid-area: 1/1/1/1;
    padding-top: 60px;
    @media screen and (max-width: $screen-mobile) {
      padding-top: 0;
    }
  }
  &__text {
    grid-area: 2/1/2/1;
    @media screen and (max-width: $screen-mobile) {
      grid-area: 3/1/3/1;
      padding-bottom: 3px;
    }
  }

  &__button {
    grid-area: 3/1/3/1;
    padding: 16px 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: $custom-cursor;
    background-color: $button-bgcolor;
    border-radius: 4px;
    max-width: 180px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    background-image: linear-gradient(#319e75, #319e75);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s, color 0.5s;
    @media screen and (max-width: $screen-mobile) {
      grid-area: 4/1/4/1;
      max-width: 100%;
      padding: 14px 0;
      font-size: 13px;
    }
  }
  &__button:hover {
    background-size: 100% 100%;
    background-color: $button-bgcolor;
    color: #fff;
  }

  &__img-text {
    margin: 0;
    padding-top: 117px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $title-color-main;
    position: relative;
    grid-area: 4/1/4/1;
    @media screen and (max-width: $screen-tablet) {
      padding-top: 23%;
    }
    @media screen and (max-width: $screen-mobile) {
      display: none;
    }
  }
  &__img-text::after {
    content: "";
    border-bottom: 1px solid #d7d4d4;
    max-width: 132px;
    width: 100%;
    height: 0.5em;
    position: absolute;
    bottom: 5%;
    margin-left: 30px;
  }

  &__img-text_theme_dark {
    color: $title-color-dark;
  }

  &__image {
    justify-self: end;
    max-width: 43.6vw;
    width: 100%;
    height: 100%;
    grid-area: 1/3/5/4;

    @media screen and (max-width: $screen-mobile) {
      grid-area: 2/1/2/1;
      justify-self: end;
      min-width: 254px;
      max-width: 90%;
    }
  }
  &__sticky-container {
    position: absolute;
    top: 45.5%;
    right: 0;
    width: 56.25%;
    max-width: 810px;
    height: 29.9vw;
    max-height: 410px;
    @media screen and (max-width: $screen-tablet) {
      width: 50%;
      height: 35vw;
    }
    @media screen and (max-width: $screen-mobile) {
      top: 41%;
      width: 95%;
      height: 54vw;
    }
  }
  &__sticky-image {
    width: 54.3%;
    max-width: 440px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    border-radius: 20px;
    box-shadow: -3px 0px 51px -7px rgba(34, 60, 80, 0.3);
    @media screen and (max-width: $screen-mobile) {
      width: 234px;
      height: 160px;
      padding: 16px 26px 12px 30px;
    }
  }
}
