.page {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-theme;
&_theme_dark {
  background-color: $dark-theme;
  color: $title-color-dark;
}
}
