.section-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: $title-color-main;
  &_theme_dark {
    color: $title-color-dark;
  }
  @media screen and (max-width: $screen-mobile) {
    font-size: 32px;
    line-height: 40px;
    
  }
}
