.footer {
  box-sizing: border-box;
  background-color: #efefef;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px 120px 60px 120px;
  position: relative;
  &_theme_dark {
    background-color: #2f2f2f;
  }
  @media screen and (max-width: $screen-tablet) {
    padding: 2.5vw 5vw 2vw 5vw;
  }
  @media screen and (max-width: $screen-mobile) {
    padding: 60px 18px 16px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 360px;
    width: 100%;
  }

  &__heading {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $text-color-main;
    max-width: 229px;

    &_theme_dark {
      color: $title-color-dark;
    }
  }
  &__form {
    max-width: 360px;
    width: 100%;
    position: relative;
  }
  &__form-container {
    padding: 0;
    margin: 0;
    border: none;
  }
  &__submit-btn {
    position: absolute;
    top: 20%;
    right: 11px;
    background-color: inherit;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    cursor: $custom-cursor;
    color: $title-color-main;
    opacity: 0;
    visibility: hidden;
    &_theme_dark {
      color: $title-color-dark
    }
    &_active {
      opacity: 0.7;
      visibility: visible;
      transition: opacity 0.3s ease;
    }
  }

  &__email-input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 1px solid #c7c7c7;
    opacity: 0.5;
    border-radius: 4px;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    background-color: inherit;
    cursor: $custom-cursor;
    color: $title-color-main;
    &_theme_dark {
      color: $title-color-dark;
      border: 1px solid rgba(125, 125, 125, 0.5);
    }
  }
  &__email-input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: inherit;
    opacity: 0.7;
    background-color: inherit;
  }
  &__email-input:hover::placeholder {
    opacity: 1;
  }
  &__email-input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__copyrigth {
    margin: 0;
    padding-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #cfcfcf;
  }
}
